<!-- Userinfo(左側)部分テンプレ―ト -->
<%= render "books/list", book: @book_, user: current_user %>

<!-- Books(右側） -->
<h2>Books</h2>
<% @books.each do |book| %>
<div>
 <%= link_to user_path(current_user.id) do %>
  <%= image_tag book.user.get_profile_image(100,100) %>
 <% end %>
 <p>Title</p>
 <%= link_to book.title, book_path(book) %>
 <p>Option</p>
 <%= book.body %>
</div>
<% end %>