<h2>Book detail #show</h2>
<div>
 <%= image_tag 'sample-author1.jpg' %>
 <%= @book.user.name %>
 <%= @book.title %>
 <%= @book.body %>
</div>

 <% if @book.user == current_user %>
   <%= link_to "Destroy", book_path(@book), method: :delete %>
 <% end %>

